
.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    text-decoration: underline;
}
.docs {
    text-align: center; 
}
.taba {
    table-layout: fixed;
    width: 1000px;
    border-collapse: separate;  
    background-color: brown;
    text-align: center;
    color: aliceblue;
}
.taba th:nth-child(1) {
    width: 197px;
    height: 50px;
}
.taba th:nth-child(2) {
    width: 397px;
    height: 50px;
}
.taba th:nth-child(3) {
    width: 97px;
    height: 50px;
}
.taba th:nth-child(4) {
    width: 150px;
    height: 50px;
}
.taba th:nth-child(5) {
    width: 150px;
    height: 50px;
}
.taba td {
    height: 20px;
    border: 1px solid white;
}
.taba th, td {
    border: 1px solid white
}
.table1 {
    border-collapse: separate;
    width: 100%;
    border: 1px solid white;
    color: white;
    background-color: darkolivegreen;
}

.bu {
    border: 1px solid black;
    background-color: bisque;
    text-align: center;
    color: blue;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 30px;
    cursor: pointer;
}   
